@{
    ViewBag.Title = "Acerca de";
}
@{
    ViewBag.Message = "       ";
    <img src="~/Content/descarga.png" alt="Sample Photo" />
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<address>
    Tienda De Mascotas Cariños<br />
    Contactenos en manizales cra 25 #41-40<br />
    <abbr title="Phone">Telfonos:</abbr>
    3013066169
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Tiendacarño@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">MarketingMascota@gmail.com</a>
</address>